a{
    text-decoration: none !important;
}

.navbar-collapse{
    justify-content: flex-end !important;
}
h1, h2 {
    color: tomato;
    margin-bottom: 3px;
    margin-top: 3px;

}

.container {
    width: 80%;
}

.detailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.detailsColumn {
    width: 50%;
   justify-content: center;
}

.card-img-top {
    width: 25%;
}

.cardHover {
    transition: transform .15s;
}

.cardHover:hover {
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08);
}

.connectedMember, .currentDate {
    text-align: right;
    font-size: 1.2em;
    margin : 1%;
}