a{
    text-decoration: none !important;
}

.navbar-toggler {
    background-color: #18bc9c;
}
.navbar-toggler-icon {
    background-color: white;
}

.navbar-collapse{
    justify-content: flex-end !important;
}

h1, h2 {
    color: #18bc9c;
    margin-bottom: 3px;
    margin-top: 3px;

}

.container {
    width: 80%;
}

.detailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.detailsColumn {
    width: 50%;
   justify-content: center;
}

.card-img-top {
    width: 50%;
}
.red-text{
    color:tomato;
}

.cardHover {
    transition: transform .15s;
}

.cardHover:hover {
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08);
}

.connectedMember, .currentDate {
    text-align: right;
    font-size: 1.2em;
    margin : 1%;
}

.buttonCreateExcursion {
    margin : 1%;
}

.badge {
    text-decoration: none;
    color:white;
}

.imageForm {
    width: 25% !important;
}

.list-group-item > span{
    font-weight: bold;
    color: #555555;
}

.card-title > span {
    font-weight: bold;
    color: #555555;
}

label {
    font-weight: bold;
    color: #555555;
}
.detailsColumn{
    padding-left: 1rem;
}
.details-title{
    color : #2C3E50;
    font-size: 5em;
    padding-left: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}
.filterDate{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

}
.filterStartDateLabel{
    display: flex;
    align-items: flex-end;
    padding-right: 1rem;
}

.filterEndDateLabel{
    display: flex;
    align-items: flex-end;
    padding-right: 1rem;
    padding-left: 1rem;
}
.row{
    margin-left: 0;
    margin-right: 0;
}