{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Excursion Create{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>


        <form>

                <div class="form-group row" bis_skin_checked="1">
    {{ form_start(excursionForm)}}
            {{ form_widget(excursionForm) }}
            <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(excursionForm)}}
        </div>

        </form>

    {% endblock %}

