{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Modifier la sortie{% endblock %}

{% block body %}
    <h1>Modifier la sortie</h1>
    {{ form_start(excursionForm) }}
    {{ form_row(excursionForm.name) }}

{% endblock %}