{% extends "base.html.twig" %}
{% block body %}
    <div class="errorItems">

        <h2>Erreur 404 - Page non trouvée</h2>

        <img src="{{ asset('img/404UnicornNotFound.svg') }}" alt="Error 404 with unicorn">

        <div class="text-center">
            <a class="btn btn-primary btn-sm" href="{{ path('main_home') }}" title="Retour à l'accueil">Retour</a>
        </div>
    </div>

{% endblock %}
{% block title %}Error 404{% endblock %}